{% extends 'web/base_main.html' %}

{% block title %}
  优秀个人博客-FTR.
{% endblock %}



{% block content %}
<!--top end-->
<article>
  <div class="whitebg">
    <h2 class="htitle"><span class="hnav">可能，你觉得自己没有足够得优秀，但我始终相信你仍然在努力坚持着!</span>站长推荐</h2>
    <ul class="site_tj">
      <li><a href="http://www.asxuxu.com/" target="_blank" title="徐旭个人博客">策划人徐旭个人博客</a></li>
      <li><a href="http://www.genesisfor.com" target="_blank" title="Genesis 链随">Genesis 链随</a></li>
      <li><a href="http://blog.zxq2.com" target="_blank" title="张新全博客">张新全博客</a></li>
      <li><a href="http://zhangtongxin.cn/" target="_blank" title="超级彤馨">超级彤馨</a></li>
      <li><a href="http://www.jzdlink.com/" target="_blank" title="呆呆萌萌情侣博客">呆呆萌萌情侣博客</a></li>
      <li><a href="https://www.otaozi.com/" target="_blank" title="刘锁个人博客">刘锁个人博客</a></li>
      <li><a href="http://www.79bcseo.com/" target="_blank" title="79千秋SEO">79千秋SEO</a></li>
      <li><a href="http://www.yoyibk.top" target="_blank" title="攸一随心笔记">攸一随心笔记</a></li>
    </ul>
  </div>
  <div class="whitebg">
    <h2 class="htitle"><span class="hnav"></span>优秀个人博客</h2>
    <ul class="site_tj site_yx">
      <li><a href="http://www.asxuxu.com/" target="_blank" title="徐旭个人博客">策划人徐旭个人博客</a></li>
      <li><a href="http://www.genesisfor.com" target="_blank" title="Genesis 链随">Genesis 链随</a></li>
      <li><a href="http://blog.zxq2.com" target="_blank" title="张新全博客">张新全博客</a></li>
      <li><a href="http://zhangtongxin.cn/" target="_blank" title="超级彤馨">超级彤馨</a></li>
      <li><a href="http://www.jzdlink.com/" target="_blank" title="呆呆萌萌情侣博客">呆呆萌萌情侣博客</a></li>
      <li><a href="https://www.otaozi.com/" target="_blank" title="刘锁个人博客">刘锁个人博客</a></li>
      <li><a href="http://www.79bcseo.com/" target="_blank" title="79千秋SEO">79千秋SEO</a></li>
      <li><a href="http://www.yoyibk.top" target="_blank" title="攸一随心笔记">攸一随心笔记</a></li>
      <li><a href="http://www.liubeia.com" target="_blank" title="id=207 刘贝个人博客">刘贝个人博客</a></li>
      <li><a href="https://www.whmblog.cn/" target="_blank" title="id=208 铭之博客">铭之博客</a></li>
      <li><a href="http://www.wangyunkai.top" target="_blank" title="id=209 Index's Blog">Index's Blog</a></li>
      <li><a href="http://b.anacn.cn" target="_blank" title="id=210 安语博客">安语博客</a></li>
      <li><a href="http://www.zhaijh.top/" target="_blank" title="id=211 心灵鸡汤">心灵鸡汤</a></li>
      <li><a href="https://www.51baidu.com.cn" target="_blank" title="id=212 白码驿站">白码驿站</a></li>
      <li><a href="http://www.myong.top" target="_blank" title="id=213 My.Yong 博客">My.Yong 博客</a></li>
      <li><a href="https://www.51baidu.com.cn" target="_blank" title="id=215 白码驿站">白码驿站</a></li>
      <li><a href="http://renniaofei.com" target="_blank" title="id=216 任鸟飞">任鸟飞</a></li>
      <li><a href="http://www.itlaiba.com" target="_blank" title="id=217 itlaiba">itlaiba</a></li>
      <li><a href="http://www.jzdlink.com" target="_blank" title="id=218 呆呆萌萌情侣博客">呆呆萌萌情侣博客</a></li>
      <li><a href="http://www.zhangwenhu.com" target="_blank" title="id=219 张文虎博客">张文虎博客</a></li>

    </ul>
  </div>
</article>

{% endblock %}