{% extends 'back/base_main.html' %}


{% block js %}
    {{ super() }}
        <script type="text/javascript" src="/static/kindeditor/kindeditor-all.js"></script>
        <script type="text/javascript" src="/static/kindeditor/lang/zh-CN.js"></script>
        <script type="text/javascript">
            KindEditor.ready(function(K) {
                    window.editor = K.create('#editor_id');
            });
        </script>
{% endblock %}


{% block content %}
<section class="rt_wrap mCustomScrollbar">
    <div class="rt_content">
        <div class="page_title">
            <h2 class="fl">用户详情</h2>
            <a class="fr top_rt_btn" href="{{ url_for('back.user_list') }}">返回用户列表</a>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
            <input type='hidden' name='csrfmiddlewaretoken' value='q3tTrBuDcMhfvSS9x2u0yQAyRbboSQuyMyt42kgwgKS0rKxCv31hIWTsS3ULhZn7' />
            <section>
                <p style="color:red">{{ error }}</p>
                <ul class="ulColumn2">
                    <li>
                        <span class="item_name" style="width:120px;">用户账号：</span>
                        <input type="text" name="username" value="" class="textbox textbox_295" placeholder="用户账号..."/>
                        
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">用户密码：</span>
                        <input type="text" name="password" value=""  class="textbox" placeholder="用户密码..."/>
                        
                    </li>

                    <li>
                        <span class="item_name" style="width:120px;">确认密码：</span>
                        <input type="text" name="password2" value="" class="textbox textbox_295" placeholder="再次输入密码..."/>

                    </li>

                    <!--<li>-->
                        <!--<span class="item_name" style="width:120px;">上传商品首图：</span>-->
                        <!---->
                        <!--<label class="uploadImg">-->
                             <!--<input type="file" name="goods_front_image"/>-->
                             <!--<span>上传图片</span>-->
                        <!--</label>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<span class="item_name" style="width:120px;">产品详情：</span>-->

                        <!--<textarea id="editor_id" name="content" style="width:700px;height:300px;">-->
                            <!--&lt;strong&gt;HTML内容&lt;/strong&gt;-->
                        <!--</textarea>-->
                    <!--</li>-->
                    <li>
                        <span class="item_name" style="width:120px;"></span>
                        <input type="submit" class="link_btn"/>
                    </li>
                </ul>
            </section>
        </form>
    </div>
</section>
{% endblock %}